*coldLoad.geometry: 800x600+1280+0
*coldLoad.iconic: no
*main.geometry: 1280x1024+0+0
genera.debugger: VLM_debugger
genera.network: tap0:INTERNET|{{genera_virtual_ip}};gateway={{genera_gateway_ip}}
genera.spy: no
genera.trace: no
genera.virtualMemory: 512
genera.world: genera.vlod
genera.worldSearchPath: {{genera_home}}
